<div class="container-fluid p-0 w-100">
    <section class="over_view p-3  d-flex align-items-center">

        <div class="row g-3 w-100 mx-auto">
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12 my-auto mb-3">
                <div class="card c1">
                    <div class="icon">
                        <i class="bi bi-currency-rupee"></i>
                    </div>
                    <div class="content">
                        Income
                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12 my-auto mb-3">
                <div class="card c2">
                    <div class="icon">
                        <i class="bi bi-cash-coin"></i>
                    </div>
                    <div class="content">
                        Expenses
                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12 my-auto mb-3">
                <div class="card c3">
                    <div class="icon">
                        <i class="bi bi-clipboard-check-fill"></i>
                    </div>
                    <div class="content">
                        ToDo List
                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12 my-auto mb-3">
                <div class="card c4">
                    <div class="icon">
                        <i class="bi bi-wallet2"></i>
                    </div>
                    <div class="content">
                        Savings
                    </div>
                </div>
            </div>      

        </div>

    </section>
</div>