<div class="container-fluid">
<div class="heading"><h1 style="text-align: center;">EXPENSE DETAIL</h1></div>
    <div class="expense-section">
        <button class="btn btn-primary float-end m-3" (click)="openModal('addExpenseModal',{})" >
            Add +
        </button>
        <table class="table table-dark table-striped">
            <thead style="text-align: center;">
              <tr>
                <th>S.No</th>
                <th>Date</th>
                <th>Expense Type</th>
                <th>Amount(in ₹)</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody style="text-align: center;">
              <tr *ngFor="let expense of expenseList; let i = index;">
                <td>{{ i + 1 }}</td>
                <td>{{ expense.expenseDate }}</td>
                <td>{{ expense.expenseType }}</td>
                <td>{{ expense.expenseAmount }}</td>
                <td>
                  <button class="btn btn-success" (click)="openModal('updateExpenseModal', i)">Update</button>
                  <button class="btn btn-danger" (click)="delete(i)">Delete</button>
                </td>
              </tr>
              <tr *ngIf="expenseList.length === 0">
                <td colspan="5" style="text-align: center;">No expense records found.</td>
              </tr>
            </tbody>
          </table>
    </div>
        <!-- Display total expense -->
        <div style="font-size: 140%;font-weight: bolder;text-align: center;">Total Expense: {{ totalExpense | currency:'INR' }}</div>

</div>


<!------ ADD MODAL ------->

<!-- Modal -->
<div class="modal fade" id="addExpenseModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Add Expense Details</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="expenseForm">
                    <div class="row">
                        <div class="col-xl-6">
                            <label for="expenseDate" class="form-label">Date<sup>*</sup></label>
                            <input type="date" class="form-control form-control-lg w-100 mb-3" format id="expenseDate"
                                formControlName="expenseDate">
                        </div>
                        <div class="col-xl-6">
                            <label for="expenseType" class="form-label">Expense Type<sup>*</sup></label>
                            <input type="text" class="form-control form-control-lg w-100 mb-3" id="expenseType"
                                placeholder="Write your expense type.." formControlName="expenseType">
                        </div>
                        <div class="col-xl-6">
                            <label for="expenseAmount" class="form-label">Amount(in ₹)<sup>*</sup></label>
                            <input type="text" class="form-control form-control-lg w-100 mb-3" id="expenseAmount"
                                placeholder="write the amount(in ₹)..." formControlName="expenseAmount">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="closeModal('addExpenseModal')">Cancle</button>
                <button type="button" class="btn btn-primary" (click)="submit()">Submit</button>
            </div>
        </div>
    </div>
</div>



<!----DELETE MODAL-->
 
  <!-- Modal delete -->
  <!-- <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5 text-danger" id="exampleModalLabel"><i class="bi bi-trash3-fill"></i> Delete </h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body text-danger">
          Are you sure you want to delete?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancle</button>
          <button type="button" class="btn btn-danger" (click)="delete()">Delete</button>
        </div>
      </div>
    </div>
  </div> -->


  <!---------- UPDATE Expense MODAL ----------->
  <div class="modal fade" id="updateExpenseModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Update Expense Details</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="expenseForm">
                    <div class="row">
                        <div class="col-xl-6">
                            <label for="expenseDate" class="form-label">Date<sup>*</sup></label>
                            <input type="date" class="form-control form-control-lg w-100 mb-3" format id="expenseDate"
                                formControlName="expenseDate">
                        </div>
                        <div class="col-xl-6">
                            <label for="expenseType" class="form-label">Expense Type<sup>*</sup></label>
                            <input type="text" class="form-control form-control-lg w-100 mb-3" id="expenseType"
                                placeholder="Write your expense type.." formControlName="expenseType">
                        </div>
                        <div class="col-xl-6">
                            <label for="expenseAmount" class="form-label">Amount(in ₹)<sup>*</sup></label>
                            <input type="text" class="form-control form-control-lg w-100 mb-3" id="expenseAmount"
                                placeholder="write the amount(in ₹)..." formControlName="expenseAmount">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="closeModal('addExpenseModal')">Cancle</button>
                <button type="button" class="btn btn-primary" (click)="update(index)">Submit</button>
            </div>
        </div>
    </div>
</div>
